<ion-header class="universal-sheader">
  <ion-navbar>

    <ion-buttons start>
      <button ion-button  menuToggle color="secondary">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>WMS</ion-title>

    <ion-buttons end>
      <button ion-button menuToggle color="secondary">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="content">

  <div class="header-style">

    <ion-item class="item-built" style="width:90%;float:left;">
      <ion-label floating color=light>請輸入條碼</ion-label>
      <ion-input type="text" [value]="enterInput" [(ngModel)]="enterInput"> </ion-input>
    </ion-item>


    <div style="float:left;width:10%;padding-bottom:5%">
      <ion-icon class="search-icon-style" name="ios-search-outline" color=light (click)="searchBarcode()">
      </ion-icon>
    </div>

  </div>

  <div class="scroll-list-style">
    <ion-item class="list-card-item-style" *ngFor="let item of dataset1" (click)="openBasicModal()">
      <ion-card>


        <div style="float:left;padding:10px">
          <ion-icon class="icon" name="ios-checkmark-circle-outline" *ngIf="!item.status"></ion-icon>
          <ion-icon class="icon" name="ios-checkmark-circle" *ngIf="item.status"></ion-icon>
        </div>


        <div style="float:left;padding:10px">
          <h1>{{item.ucc}}</h1>
          <strong>PPO#</strong>:{{item.order.orderNo}}   <strong>Qty:</strong>{{item.qty}}
        </div>

      </ion-card>
    </ion-item>
  </div>


  <ion-footer class="footer">
    <ion-toolbar align="middle">
      <button  class="round-button-style" (tap)="save()">Submit</button>
      <button  class="round-button-style" [navPush]="leavePage">Cancel</button>

    </ion-toolbar>
  </ion-footer>


</ion-content>
