<!--
Generated template for the StartWorkflowPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header class="universal-sheader">
  <ion-navbar>

    <ion-buttons start>
      <button ion-button  menuToggle color="secondary">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>WMS</ion-title>



    <ion-buttons end>
      <button ion-button menuToggle color="secondary">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="home-background" stlye="padding-left:0;padding-right:0">

  <div lass="workflow-button" *ngFor="let item of workFlowOption">
    <button ion-button full class="full-button-style">
      {{item.name}}
    </button>

    <button *ngFor="let subItem of item['subBusinessType']" ion-button color="dark" class="sub-selction-button-issue" (click)="doOpenPage(subItem.pageName,subItem.parameter,subItem.id)">
      {{subItem.name}}
    </button>
  </div>
  

</ion-content>
