page-to-do-list {

}

ion-card-title{
  font-size:8px;
}

.list-card-style{
  margin:0px;
  width:100%;
  padding:10px;
}

.ion-card-header{
align:center;
}

.detail-info-div{
  ion-card-title{
    font-size:small;
  }
}




.dropinfo-icon{
  font-size: 25px;
  float:right;
}

.detail-info-div{
  float:left;
  font-size: small;
  width:75%;
}

.progress-info-div{
  float:right;
  width:20%
}
